%h2= t(:'clubs.caption.member_list')
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= t(:'members.tablehead.id')
    %th= t(:'members.tablehead.name')
    %th= t(:'members.tablehead.birtday')
    %th= t(:'members.tablehead.contact_info')
    %th= t(:'members.tablehead.member_since')
  - members.each do |member|
    %tr
      %td= link_to(member.leo_id, member_path(id: member.leo_id))
      %td= link_to(t(:'members.name', first_name: member.first_name, last_name: member.last_name), member_path(id: member.leo_id))
      %td= l(member.date_of_birth)
      %td= render 'shared/contact_info', contact_info: member.contact_infos.first
      %td= l(member.member_since)