%h2= t(:'clubs.caption.member_list')
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= t(:'members.tablehead.id')
    %th= t(:'members.tablehead.name')
    %th= t(:'members.tablehead.date_of_birth')
    %th= t(:'members.tablehead.contact_info')
    %th= t(:'members.tablehead.leo_since')
  - members.each do |member|
    %tr
      %td= link_to(member.oid, member_path(id: member.oid))
      %td= member_link member
      %td= l(member.date_of_birth)
      - if member.contact_infos.first
        %td= render 'shared/contact_info', contact_info: member.contact_infos.first
      - else
        %td
      %td= l(member.leo_since)