%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= t(:'districtstablehead.id')
    %th= t(:'districtstablehead.name')
    %th= t(:'districtstablehead.club_count')
  - districts.each do |district|
    %tr
      %td= link_to(district.oid, district_path(id: district.oid))
      %td= link_to(district.name, district_path(id: district.oid))
      %td= district.clubs.size