%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= t(:'clubs.tablehead.id')
    %th= t(:'clubs.tablehead.name')
    %th= t(:'clubs.tablehead.age')
    %th= t(:'clubs.tablehead.member_count')
  - clubs.each do |club|
    %tr
      %td= link_to(club.leo_id, club_path(id: club.leo_id))
      %td= link_to(club.name, club_path(id: club.leo_id))
      %td= t(:'clubs.age', count: club.age)
      %td= club.members.size