.navbar-wrapper
  .container
    .row.navbar-row
      .col-md-9.offset1
        .navbar.navbar-inverse.navbar-fixed-top
          .container
            .navbar-header
              %a.navbar-btn.collapsed{type: 'toggle', data: {toggle: 'collapse', target: '.navbar-collapse'}}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{href: '/'}
            .navbar-collapse.collapse{style: 'height:auto;'}
              %ul.nav.navbar-nav
                %li.dropdown
                  %a{href: '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                    = t(:'navbar.profile.title')
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{href: my_membership_path}= t(:'navbar.profile.membership')
                    %li
                      %a{href: my_club_path}= t(:'navbar.profile.my_club')
                    %li
                      %a{href: my_district_path}= t(:'navbar.profile.my_district')
                    %li
                      %a{href: my_multiple_district_path}= t(:'navbar.profile.my_multiple_district')
                %li.dropdown
                  %a{href: '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                    = t(:'navbar.club.title')
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{href: my_club_path}= t(:'navbar.club.overview')
                    %li
                      %a{href: '#'}= t(:'navbar.club.edit_club')
                    %li
                      %a{href: new_member_path}= t(:'navbar.club.add_member')
                    %li
                      %a{href: '#'}= t(:'navbar.club.add_guest')
                    %li
                      %a{href: '#'}= t(:'navbar.club.accept_to_club')
                    %li
                      %a{href: '#'}= t(:'navbar.club.add_lions_office')
                    %li
                      %a{href: my_club_statistics_path}= t(:'navbar.club.statistics')
                %li.dropdown
                  %a{href: '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                    = t(:'navbar.district.title')
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{href: my_district_path}= t(:'navbar.district.overview')
                    %li
                      %a{href: '#'}= t(:'navbar.district.edit_district')
                    %li
                      %a{href: '#'}= t(:'navbar.district.add_club')
                    %li
                      %a{href: '#'}= t(:'navbar.district.close_club')
                    %li
                      %a{href: '#'}= t(:'navbar.club.add_lions_office')
                %li.dropdown
                  %a{href: '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                    = t(:'navbar.multiple_district.title')
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{href: my_multiple_district_path}= t(:'navbar.multiple_district.overview')
                    %li
                      %a{href: '#'}= t(:'navbar.multiple_district.edit_multiple_district')
                    %li
                      %a{href: '#'}= t(:'navbar.multiple_district.split_district')
                %li
                  %a{href: committees_path}
                    = t(:'navbar.committees.title')
                %li.dropdown
                  %a{href: '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                    = t(:'navbar.report.title')
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{href: logout_path}= t(:'navbar.logout')

:javascript
  MyApp.initFunction(MyApp.disable_menu_item);
