.container
  .page-header
    %h1
      =t(:'committees.district_title', multiple_district: '111')


  %table.table.table-striped.table-bordered.table-hover
    %tr
      %th= t(:'committees.tablehead.id')
      %th= t(:'committees.tablehead.name')
      %th= t(:'committees.tablehead.chairperson')
      %th= t(:'committees.tablehead.member_count')
    - @committees.each do |committee|
      %tr
        %td= committee.leo_id
        %td= t(:"committees.title_#{committee.type}")
        %td= member_link committee.chairperson
        %td= committee.members.size