.panel.panel-primary
  .panel-heading
    %h2.panel-title= t(:'members.caption.general')

  %table.table.table-bordered.table-striped{table_head_attributes}
    %tbody
      = member_simple_attribute_tablerow(field: :academic_title, name: t(:'helpers.label.member.academic_title'), caption: t(:'helpers.label.member.academic_title'), editable_class: editable_class)
      = member_simple_attribute_tablerow(field: :first_name, name: t(:'helpers.label.member.first_name'), caption: t(:'helpers.label.member.first_name_caption'), editable_class: editable_class)
      = member_simple_attribute_tablerow(field: :last_name,  name: t(:'helpers.label.member.last_name'), caption: t(:'helpers.label.member.last_name_caption'), editable_class: editable_class)
      = member_gender_select_attribute_tablerow(editable_class: editable_class)
      = member_simple_attribute_tablerow(field: :profession, name: t(:'helpers.label.member.profession'), caption: t(:'helpers.label.member.profession_caption'), editable_class: editable_class)
      = member_date_attribute_tablerow(field: :date_of_birth, name: t(:'helpers.label.member.date_of_birth'), caption: t(:'helpers.label.member.date_of_birth_caption'), editable_class: editable_class)
      = member_date_attribute_tablerow(field: :member_since, name: t(:'helpers.label.member.member_since'), caption: t(:'helpers.label.member.member_since_caption'), editable_class: editable_class)
      = member_select_attribute_tablerow(field: :status, name: t(:'helpers.label.member.status'), select_options: [:active, :passive, :honorary].map{|status| [status, t(:"helpers.label.member.status_#{status}")]}, caption: t(:'helpers.label.member.status_caption'), editable_class: editable_class)

.row
  .col-md-6
    .panel.panel-primary
      .panel-heading
        %h2.panel-title= t(:'members.caption.prev_clubs')
      .panel-body
        =membership_list


  .col-md-6
    .panel.panel-primary
      .panel-heading
        %h2.panel-title= t(:'members.caption.prev_offices')

- # TODO contact_infos
- # TODO awards