.container
  .page-header
    %h1 
      =t(:'members.caption.name', first_name: @member.first_name, last_name: @member.last_name)
      %small= t(:'clubs.club_title', name: @club.name)
      %a{href: edit_member_path(id: @member.leo_id)}
        %button.btn.btn-inverse.btn-small.btn-member-edit= t(:'members.button.edit')

  %h2= t(:'members.caption.general')

  %table.table.table-bordered.table-striped{id: 'member', :'data-leo-id' => @member.leo_id, :'data-member-update-url' => member_path(id: @member.leo_id)}
    %tbody
      = member_simple_attribute_tablerow(:first_name, t(:"helpers.label.member.first_name"), t(:"helpers.label.member.first_name_caption"))
      = member_simple_attribute_tablerow(:last_name, t(:"helpers.label.member.last_name"), t(:"helpers.label.member.last_name_caption"))
      = member_select_attribute_tablerow(:gender, t(:'helpers.label.member.gender'), [[:female, t(:'helpers.label.member.gender_female')],[:male, t(:'helpers.label.member.gender_male')]],t(:"helpers.label.member.last_name_caption"))

  - # TODO profession
  - # TODO birth date
  - # TODO member since
  - # TODO addresses
  - # TODO state
  - # TODO awards

  :coffeescript
    $(document).ready(init_editable)
    $(window).bind('page:change', init_editable)