.container
  .page-header
    %h1= t(:'members.caption.name', :first_name => @member.first_name, :last_name => @member.last_name)

  %h2= t(:'members.caption.general')

  %h3= t(:'members.caption.profession')
  = @member.profession.presence

  %hr

  %h2= t(:'members.caption.contact')
  - @member.addresses.each do |address|
    = render 'address', :address => address

  %hr

  %h2= t(:'members.caption.history')